body {
    font-family: 'arial';
    background-color: rgb(250, 250, 250);
}

.error {
    color: white;
    text-align: center;
    margin-top: 250px;
    display: none;
}

.error > h1 {
    text-transform: uppercase;
}

#title {
    font-weight: bold;
    color: white;
    margin-left: 40px;
}

#header {
    background-color: rgb(62, 35, 100);
    position: relative;
}

#profile-icon {
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

#content {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#redirect {
    display: none;
}